/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
body {
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1100px;
}

/* GLASS CARD */
.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    color: white;
}

/* HEADINGS */
.card h2 {
    text-align: center;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 25px;
}

.section h3 {
    margin-bottom: 12px;
    font-weight: 500;
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* INPUTS */
input, select {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* BUTTON */
button {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    background: linear-gradient(135deg, #2563eb, #3b82f6);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
}

/* LOADING */
.loading {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { opacity: 0.4; }
    50% { opacity: 1; }
    100% { opacity: 0.4; }
}

/* RESULT BOX */
#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255,255,255,0.15);
}

/* BADGES */
.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.low { background: #16a34a; }
.medium { background: #facc15; color: black; }
.high { background: #dc2626; }

/* CLAIM STATUS */
.approved {
    color: #22c55e;
    font-weight: bold;
    animation: pop 0.4s ease-in-out;
}

.rejected {
    color: #ef4444;
    font-weight: bold;
    animation: pop 0.4s ease-in-out;
}

@keyframes pop {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

/* MOBILE */
@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
